<style>
.nav-link {
	padding: .2rem 1rem;
}
.navbar {
	padding: 0;
}
.bg-light {
	background-color: #2b94d4!important;
}
.nav-link-custom{
	color: white !important;
}
.dropdown-menu {
	background-color: #5ba9d8;
}
.dropdown-item:focus, .dropdown-item:hover {
	background-color: #69b4df;
}
.navbar-light .navbar-nav .nav-link {
	color: white;
}
.dropdown-item {
	color: white;
}
</style>
<div style="z-index: 10000" class="w-25 p-3 mw-100 min-vw-100 d-inline-block text-center"
	style="color: #eee; background-color: white;">
	<span style="position: absolute; left: 0; top: 0;">
		<img style="padding-left:4px;height: 60px; width: 60px;" src="assets/images/menu_logo_blue.svg" />
	</span>
	<span style="color: #2b3990; font-size: 20px; font-weight: bold;">Computer Based Testing System</span>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
</div>

<div style="border: 1px solid #2b3990"></div>
<div class="nav-side-menu">
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fas fa-tachometer-alt fa-lg"></i> Dashboard
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fab fa-studiovinari fa-lg"></i> UI Elements <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="#">CSS3 Animation</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Tabs & Accordions</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">FontAwesome</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">Panels</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Bootstrap Model</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fab fa-fort-awesome-alt fa-lg"></i> Services <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="service">
                  <li>New Service 1</li>
                  <li>New Service 2</li>
                  <li>New Service 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fab fa-pagelines fa-lg"></i> New <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>New New 1</li>
                  <li>New New 2</li>
                  <li>New New 3</li>
                </ul>


                 <li>
                  <a href="#">
                  <i class="fas fa-user-tie fa-lg"></i> Profile
                  </a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Users
                  </a>
                </li>
            </ul>
     </div>
     <div class="">sdfsdfdsfsdf</div>
</div>
<div>sdsdsd</div>