<style></style>
<!-- Custom styles for this template -->
<div class="h-100 position-relative">
  <div
    class="w-25 p-3 mw-100 min-vw-100 d-inline-block text-center"
    style=" color: #eee;background-color: white;"
  >
    <span style="position: absolute;left: 0;top: 0;"
      ><img
        style="height: 60px;width: 60px;"
        src="assets/images/menu_logo_blue.svg"
    /></span>
    <span style=" color: #2b3990;font-size: 20px;font-weight: bold;"
      >Computer Based Test System</span
    >
  </div>
  <div style="border: 1px solid #2b3990"></div>
  <div
    class="position-relative w-10 p-1 mw-100 min-vw-100"
    style="background-color: #eee;color: #2b3990;"
  >
    <span>Questions 12 of 30</span>
    <span class="pl-5"
      ><span><i class="fa fa-clock-o" aria-hidden="true"></i></span> Time
      Remaining 00:30</span
    >
    <span style="right: 0;position: absolute;"
      ><span class="pl-3">Minhajul Sarkar, &nbsp;&nbsp;</span
      ><i class="fa fa-sign-out" aria-hidden="true"></i
      ><span>logout</span></span
    >
  </div>
  <div class="p-3">
    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1">Which of these classes are used by Byte streams for input and output operation?</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios1"
          value="option1"
          checked
        />
        <label class="form-check-label" for="exampleRadios1">
          InputStream
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios2"
          value="option2"
        />
        <label class="form-check-label" for="exampleRadios2">
          InputOutputStream
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios3"
          value="option3"
          disabled
        />
        <label class="form-check-label" for="exampleRadios3">
          DReader
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios2"
          value="option2"
        />
        <label class="form-check-label" for="exampleRadios2">
          All of the mentioned
        </label>
      </div>
    </form>
  </div>
  <!-- Fixed navbar -->

  <!-- Begin page content -->

  <div class="fixed-bottom h-30 " style="background: #eee">
    <div class="position-relative">
      <div class="float-right">
        <span>
          <button type="button" class="btn btn-primary">
            <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span
            ><span class="p-1">Privious</span>
          </button></span
        >
        <span class="pl-5"
          ><button type="button" class="btn btn-primary">
            <span>Next</span>
            <span class="p-1"
              ><i class="fa fa-arrow-right" aria-hidden="true"></i
            ></span></button
        ></span>
      </div>
    </div>
  </div>
</div>
