<style></style>
<!-- Custom styles for this template -->
<div class="h-100 position-relative">
  <div
    class="w-25 p-3 mw-100 min-vw-100 d-inline-block text-center"
    style=" color: #eee;background-color: rgb(81, 154, 238);"
  >
    <span>Computer Based Test System</span>
  </div>
  <div
    class="position-relative w-10 p-1 mw-100 min-vw-100"
    style="background-color: #eee;"
  >
    <span>Questions 12 of 30</span>
    <span class="pl-5"
      ><span><i class="fa fa-clock-o" aria-hidden="true"></i></span> Time
      Remaining 12:30</span
    >
    <span style="right: 0;position: absolute;"
      ><i class="fa fa-sign-out" aria-hidden="true"></i
      ><span>logout</span></span
    >
  </div>
  <div class="p-3">
    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios1"
          value="option1"
          checked
        />
        <label class="form-check-label" for="exampleRadios1">
          Default radio
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios2"
          value="option2"
        />
        <label class="form-check-label" for="exampleRadios2">
          Second default radio
        </label>
      </div>
      <div class="form-check disabled">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios3"
          value="option3"
          disabled
        />
        <label class="form-check-label" for="exampleRadios3">
          Disabled radio
        </label>
      </div>
    </form>
  </div>
  <!-- Fixed navbar -->

  <!-- Begin page content -->

  <div class="fixed-bottom h-30 bg-info ">
    <div class="position-relative">
      <div class="float-right">
        <span>
          <button type="button" class="btn btn-lg btn-primary">
            <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span
            ><span class="p-1">Privious</span>
          </button></span
        >
        <span class="pl-5"
          ><button type="button" class="btn btn-lg btn-primary">
            <span>Next</span>
            <span class="p-1"
              ><i class="fa fa-arrow-right" aria-hidden="true"></i
            ></span></button
        ></span>
      </div>
    </div>
  </div>
</div>
