<style>
.nav-link {
	padding: .2rem 1rem;
}
.navbar {
	padding: 0;
}
.bg-light {
	background-color: #2b94d4!important;
}
.nav-link-custom{
	color: white !important;
}
.dropdown-menu {
	background-color: #5ba9d8;
}
.dropdown-item:focus, .dropdown-item:hover {
	background-color: #69b4df;
}
.navbar-light .navbar-nav .nav-link {
	color: white;
}
.dropdown-item {
	color: white;
}
</style>
<div class="w-25 p-3 mw-100 min-vw-100 d-inline-block text-center"
	style="color: #eee; background-color: white;">
	<span style="position: absolute; left: 0; top: 0;">
		<img style="padding-left:4px;height: 60px; width: 60px;" src="assets/images/menu_logo_blue.svg" />
	</span>
	<span style="color: #2b3990; font-size: 20px; font-weight: bold;">Computer Based Testing System</span>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  User Management
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#">Search user</a>
					<a class="dropdown-item" href="#">Internal employee</a>
					<a class="dropdown-item" href="#">Participants</a>
					<a class="dropdown-item" href="#">Role</a>
					<a class="dropdown-item" routerLink="/dashboard" routerLinkActive="active">Dash Board</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Question
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#">Question Bank</a>
					<a class="dropdown-item" href="#">Create Question</a>
					<a class="dropdown-item" href="#">Modify Question</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Question Set
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#">Search</a>
					<a class="dropdown-item" href="#">Create</a>
					<a class="dropdown-item" href="#">Preview</a>
					<a class="dropdown-item" href="#">Create template</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Exam/Recruitment
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#">Create/Modify</a>
					<a class="dropdown-item" href="#">Participants Home</a>
					<a class="dropdown-item" routerLink="/participateExam" routerLinkActive="active">Participate Exam</a>
				</div>
			</li>
		</ul>
  </div>
</nav>
<div style="border: 1px solid #2b3990"></div>
<div class="position-relative w-10 p-1 mw-100 min-vw-100" style="background-color: #eee; color: #2b3990;">
	<span><i class="{{screenIco}}" aria-hidden="true"></i></span><span class="pl-2">{{screenText}}</span>
	<span style="right: 0; position: absolute;">
		<span class="pl-3">Minhajul Sarkar, &nbsp;&nbsp;</span><i class="fa fa-sign-out" aria-hidden="true"></i>
		<span>logout</span>
	</span>
</div>